<% breadcrumb :edit_blog, @blog_category %>

<section class="content">

  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">

        <div class="box-header with-border">
          <h3 class="box-title">修改分類名稱</h3>
        </div>

        <%= form_for [:admin, @blog_category], html: { role: "form" } do |f| %>
          <%= render 'fields', f:f, object: @blog_category %>

          <div class="box-footer">
            <button type="submit" class="btn btn-danger">更新</button>
            <%= link_to "返回上一頁", :back, class: "btn btn-primary" %>
          </div>
        <% end %>

      </div><!-- /.box -->
    </div>
  </div>

</section><!-- /.content -->