<% breadcrumb :new_event, @event_category %>

<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">

        <div class="box-header with-border">
          <h3 class="box-title"> 建立新活動</h3>
        </div>

        <%= form_for [:admin, @event_category, @event], html: { multipart: true, role: "form" } do |f| %>
          <div class="box-body">
            <%= render 'admin/shared/error_messages', object: @event %>   
            <%= render 'fields', f: f, object: @event %>
          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-danger">發表新活動</button>
            <%= link_to "返回上一頁", :back, class: "btn btn-primary" %>
          </div>
        <% end %>

      </div><!-- /.box -->
    </div>
  </div>

</section><!-- /.content -->

<script src="//cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>

<script type="text/javascript">
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('event_summary');
    CKEDITOR.replace('event_content');
    //bootstrap WYSIHTML5 - text editor
    //$(".textarea").wysihtml5();
  });
</script>