<div class="col-md-3">
  <aside class="left-shop">
    <div class="shop-categories mb30">
      <h1 class="asidetitle">會員中心</h1>
      <ul>
        <li><%= link_to "修改會員資料", edit_user_registration_path %></li>
        <li><%= link_to '我的訂單', orders_path %></li>
        <% if current_user.admin? %>
        <li><%= link_to 'Allpay post info', test_path %></li>
        <% end %>
      </ul>
    </div>
  </aside>
</div>