
<% breadcrumb :article, @article %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
				<iframe src="<%= @url %>" height="400" width="100%"></iframe>
			</div>
		</div>
	</div>
</section>