									<div class="related mb50">
										<h1 class="main-title">Related Articles</h1>
										<div class="main-border"></div>

										<div class="row">
											<div class="col-md-4">
												<div class="related-item">
													<img src="upload/relatedp1.jpg" alt="">
													<a href="#"><h4>We possess within us two minds</h4></a>
												</div>
											</div>
											<div class="col-md-4">
												<div class="related-item">
													<img src="upload/relatedp2.jpg" alt="">
													<a href="#"><h4>Your subconscious mind is like fertile soil</h4></a>
												</div>
											</div>
											<div class="col-md-4">
												<div class="related-item">
													<img src="upload/relatedp3.jpg" alt="">
													<a href="#"><h4>Remember, the conscious mind is the gardener.</h4></a>
												</div>
											</div>
										</div>

										
									</div>