    <div class="container">

      <div class="page404">

        <div class="row">
          <div class="col-md-6">
            <div class="cart404">
              <%= image_tag "/images/cart.png" %>
              <p>404</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="page404text">
              <h1>您找的頁面不存在!</h1>
            </div>
          </div>
        </div>

      </div>


    </div>
    <!-- End Typography -->

  <script src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui.js"></script>
  <script>
      $( "#tabs" ).tabs();
      $( "#accordion" ).accordion();
  </script>
  <script type="text/javascript" src="js/jquery.superfish.js"></script>
  <script type="text/javascript" src="js/jquery.bxslider.js"></script>

  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
  <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
  <script type="text/javascript" src="js/jquery.appear.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script src="js/jquery.easypiechart.js"></script>
  <!-- jQuery KenBurn Slider  -->
  <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>


</body>
</html>