			<div class="middle-content">
				<div class="container">
					<%= image_tag "/images/slogan.png", class: "img-responsive" %>
					<!-- <h1>BEAUTY <span>IS THE KEY</span></h1> -->
<!-- 					<div class="middle-shipp">
						<p>We will ship your item within 3 days</p>
						<div class="mid-border"></div>
					</div> -->
				</div>
			</div>