<!DOCTYPE html>

   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
   <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script> -->
    <!-- // <script src="./move.js"></script> -->
    <style>
	div#container {height:1000px;width:100%;}
		
		#squid {
        position: absolute;
        left: 100px;
		width: 100px;
		height: 100px;
		display: inline-block;
      }
	  
	</style>
	
	<script>
	
	$(document).ready(function() {
        //animateDiv($('.a'));
        //animateDiv($('.b'));
        //animateDiv($('.c'));
		animateDiv($('#squid'));

});

function makeNewPosition($container) {

    // Get viewport dimensions (remove the dimension of the div)
    var h = $container.height() - 50;
    var w = $container.width() - 50;

    var nh = Math.floor(Math.random() * h);
    var nw = Math.floor(Math.random() * w);

    return [nh, nw];

}

function animateDiv($target) {
    var newq = makeNewPosition($target.parent());
    var oldq = $target.offset();
    var speed = calcSpeed([oldq.top, oldq.left], newq);

    $target.animate({
        top: newq[0],
        left: newq[1]
    }, speed, function() {
        animateDiv($target);		
    });

};

function calcSpeed(prev, next) {

    var x = Math.abs(prev[1] - next[1]);
    var y = Math.abs(prev[0] - next[0]);

    var greatest = x > y ? x : y;

    var speedModifier = 0.1;

    var speed = Math.ceil(greatest / speedModifier);

    return speed;
}

function calcSpeed1(prev, next) {

    var x = Math.abs(prev[1] - next[1]);
    var y = Math.abs(prev[0] - next[0]);

    var greatest = x > y ? x : y;

    var speedModifier = 2;

    var speed = Math.ceil(greatest / speedModifier);

    return speed;
}


function animaterun($target) {
 var newq = makeNewPosition($target.parent());
 var oldq = $target.offset();
 var speed = calcSpeed1([oldq.top, oldq.left], newq);
 //alert(speed);
 $target.stop().animate({
        top: newq[0],
        left: newq[1]
    }, speed , function() {
        animateDiv($target);		
    });
}


$( document ).mousemove( function( event ) {

    if( isNear( $('#squid'), 300, event ) ) {
        
        animaterun($('#squid'));

    
    } else {
                     
    };

} );           

function isNear( $element, distance, event ) {
    
    var left = $element.offset().left - distance,
        top = $element.offset().top - distance,
        right = left + $element.width() + ( 2 * distance ),
        bottom = top + $element.height() + ( 2 * distance ),
        x = event.pageX,
        y = event.pageY;
        
    return ( x > left && x < right && y > top && y < bottom );
    
};



	$( document ).on( "mousemove", function( event ) {
	
	
	  $( "#log" ).text( "pageX: " + event.pageX + ", pageY: " + event.pageY );
	});

	</script>
	
  </head>

  <body>
 <div id="log"></div>	
 <div id="container">
	<img id="squid"   src="/demo/squid3.gif">
</div>


    <script type="text/javascript" src="/js/jquery.superfish.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.js"></script>

    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/js/plugins-scroll.js"></script>
  <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/js/jquery.countTo.js"></script>
    <script src="/js/jquery.parallax.js"></script>
  <!-- jQuery KenBurn Slider  -->
  <script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>