	<div id="container">
	<%= render 'layouts/header' %>
</div>
		<div id="content">

			<div class="product-page container">
				
				<div class="row">
					<div class="col-md-6">
						<div class="single-img">
							<div class="sp-wrap">
								<a href="/images/product-B.png"><img src="/images/product-B.png" alt=""></a>
<!-- 								<a href="images/2.jpg"><img src="images/2_tb.jpg" alt=""></a>
								<a href="images/3.jpg"><img src="images/3_tb.jpg" alt=""></a>
								<a href="images/4.jpg"><img src="images/4_tb.jpg" alt=""></a>
								<a href="images/5.jpg"><img src="images/5_tb.jpg" alt=""></a>
								<a href="images/6.jpg"><img src="images/6_tb.jpg" alt=""></a> -->
							</div>
							<div id="test"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="single-desc">
<!-- 							<div class="top-single">
								<span>Shop  /  Men  /  Jackets  /  Black Leather Jacket</span>
								<div class="right-arrows">
									<a href="#"><i class="fa fa-angle-left"></i></a>
									<a href="#"><i class="fa fa-angle-right"></i></a>
								</div>
							    <div class="clear"></div>
							</div> -->

							<div class="middle-single">
								
								<h1>絲快染&nbsp;1&nbsp;分鐘快速染髮劑 - 酒紅棕</h1>

								<!-- <img src="/images/product-A.png" alt=""> -->

<!-- 								<div class="reviews">
									<a href="#">21 Rewiew(s)</a>  /  
									<a href="#">Add a Review</a>
								</div> -->
							    <div class="clear"></div>

							</div>
												
							<div class="single-price">
							   <ul>
									<li><span class="high-price">NT650</span></li>
									<li><span class="low-price">NT499</span></li>
								</ul>
						    </div>

							<div class="single-inputs row">
<!-- 								<div class="col-md-6">
									<select class="select">
										<option value="Select Size">Select Size</option>
										<option value="S">S</option>
										<option value="M">M</option>
										<option value="L">L</option>
										<option value="XL">XL</option>
										<option value="XXL">XXL</option>
									</select>
								</div> -->
								<div class="col-md-6">
									<select class="select">
										<option value="Select Color">商品規格</option>
										<option value="White">自然棕</option>
										<option value="Black">自然黑</option>
										<option value="Red">酒紅棕</option>
										<option value="Blue">深邃黑</option>
									</select>
								</div>
							</div>
						    

								
<!-- 							<div class="prod-end">
								<a href="#" class="medium-button button-red add-cart">Add to Cart</a>
								<input type="text" placeholder="1">
								<ul>
									<li><a href="#" class="wishlist"><i class="fa fa-heart"></i> Add to Wishlist</a></li>
									<li><a href="#" class="compare"><i class="fa fa-retweet"></i>Add to Compare</a></li>
								</ul>
								<div class="clear"></div>
																		
							</div> -->

							<div class="single-descript">
								<p>一分鐘快速上色</p>
								<p>上色時間短，減少頭皮及頭髮傷害</p>
								<p>有效遮蓋新生白髮，方便經濟</p>
								<p>霜狀染劑，輕鬆附著不滴落</p>
								<p>不含阿摩尼亞，氣味清香不刺鼻</p>
								<p>添加植物萃取，染後髮絲柔亮不乾澀</p>
							</div>

							<div class="share">
								<span>Share</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-envelope"></i></a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>

			</div>
			<!-- End Product Single -->

			<%= render 'layouts/product_description' %>
			<!-- End tab Signle -->	


	</div>

<script type="text/javascript" src="/miracode/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.js"></script>
	<script>
	    $( "#tabs" ).tabs();
	    $( "#accordion" ).accordion();
	</script>
	<script type="text/javascript" src="/miracode/js/smoothproducts.min.js"></script>
	<script type="text/javascript">
                /* wait for images to load */
                $(window).load( function() {
                    $('.sp-wrap').smoothproducts();
                });
        </script>
	
	<script type="text/javascript" src="/miracode/js/jquery.superfish.js"></script>
	<script type="text/javascript" src="/miracode/js/jquery.bxslider.js"></script>

	<script type="text/javascript" src="/miracode/js/bootstrap.js"></script>
	<script type="text/javascript" src="/miracode/js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="/miracode/js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="/miracode/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/miracode/js/plugins-scroll.js"></script>
  	<script type="text/javascript" src="/miracode/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/miracode/js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="/miracode/js/jquery.appear.js"></script>
	<script type="text/javascript" src="/miracode/js/jquery.countTo.js"></script>
	<script src="/miracode/js/jquery.parallax.js"></script>
     <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="/miracode/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="/miracode/js/script.js"></script>

 	<!-- include jQuery + carouFredSel plugin -->
    <script type="text/javascript" src="js/jquery.carouFredSel.js"></script>

    <!-- optionally include helper plugins -->
    <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>