			<div class="tabs-single">
				<div class="container">

					<div id="tabs">
					  <ul>
					    <li class="active"><a href="#tabs-1">產品介紹</a></li>
<!-- 					    <li><a href="#tabs-2">ADDITIONAL INFORMATION</a></li>
					    <li><a href="#tabs-3">REVIEWS</a></li> -->
					  </ul>
					  <div class="tab-border"></div>
					  <div id="tabs-1">

							<!-- <iframe width="" height="315" src="https://www.youtube.com/embed/etHsPVvupdo" frameborder="0" allowfullscreen></iframe> -->
							<div class="row">

								<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/hair-1.jpg' , class: "img-responsive"%><br/>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12">
									<%= image_tag '/images/hair-2.jpg' , class: "img-responsive"%><br/>
								</div>

								</div>

							</div>
					  	
					  </div>

					  </div>
					</div>