		<header class="clearfix green-header">

			<div class="upper-header">
				<div class="container">

					<div class="search-input">
						<form action="#">
							<input type="text" placeholder="Type and Search">
							<input type="submit" value="">
						</form>
					</div>

					<div class="logo">
						<%= link_to root_path do %>
							<%= image_tag "/images/logo.png", alt: "" %>
						<% end %>			
					</div>
					
					<div class="cart">

						<div class="card-icon">
							<img src="/images/hero.png" alt="">
							<!-- <div class="shop-items">10</div> -->
						</div>
<!-- 						<a href="#" class="cartmain"> Cart  /  $ 1 199.00</a>
						<div class="card-icon">
							<img src="/miracode/images/cart.png" alt="">
							<div class="shop-items">10</div>
						</div>
						<div class="hover-cart">

							<div class="hover-box">

								<a href="#"><img src="/miracode/images/hover1.png" alt="" class="left-hover"></a>
								<div class="hover-details">
									<p>Grey California Dress</p>
									<span>$ 3 199.00</span>
									<div class="quantity">Quantity: 1</div>
								</div>
								
								<a href="#" class="right-hover"><img src="/miracode/images/delete.png" alt=""></a>

								<div class="clear"></div>

							</div>

							<div class="hover-box bd0">

								<img src="/miracode/images/hover2.png" alt="" class="left-hover">
								<div class="hover-details">
									<p>Grey California Dress</p>
									<span>$ 3 199.00</span>
									<div class="quantity">Quantity: 1</div>
								</div>

								<a href="#" class="right-hover"><img src="/miracode/images/delete.png" alt=""></a>

								<div class="clear"></div>

							</div>

							<div class="subtotal">
								Cart Subtotal: <span>$ 4 372</span>
							</div>

							<button class="viewcard"> View Cart</button>
							<button class="proceedcard"> Proceed</button>

						</div> -->
					</div>

					<div class="clear"></div>

				</div>
				<!-- End container -->	
			</div>
			<!-- End Upper-header -->	
			
			<div class="nav-border"></div>
			<div class="container">
				<!-- Navigation -->
				<nav id="nav">
					<ul id="navlist" class="sf-menu clearfix">
						<li class="current">
							<%= link_to "首頁", root_path %>
<!-- 							<ul class="sub-menu">
								<li><a href="home-boxed.html"><span>--</span>Home Boxed</a></li>
								<li><a href="home-transparent.html"><span>--</span>Home Transparent</a></li>
								<li><a href="home-leftmenu.html"><span>--</span>Home Left Menu</a></li>
								<li><a href="home-bannerboxed.html"><span>--</span>Home Banner</a></li>
								<li><a href="home-banner.html"><span>--</span>Home Banner Fullwidth</a></li>
							</ul> -->
						</li>
						<li><a href="#">品牌故事</a>
<!-- 							<ul class="sub-menu">
								<li><a href="shop-single.html"><span>--</span>Single Product</a></li>
								<li><a href="shop-list.html"><span>--</span>Products List</a></li>
								<li><a href="shop-grid.html"><span>--</span>Products Grid</a></li>
								<li><a href="cart.html"><span>--</span>Shopping Cart</a></li>
								<li><a href="checkout.html"><span>--</span>Checkout</a></li>
							</ul> -->
						</li>
						<li><a href="#">商品櫥窗</a>
							<ul class="sub-menu">
								<li><a href="#"><span>--</span>絲快染</a></li>
								<li><a href="#"><span>--</span>光摩棒</a></li>
								<li><a href="#"><span>--</span>指膜</a></li>
								<li><a href="#"><span>--</span>髮膜</a></li>
							</ul>
						</li>
						<li><a href="#">部落格</a></li>
						<li><a href="#">最新消息</a></li>
						<li><a href="#">聯絡我們</a></li>

					</ul>
				</nav>
		    	<!-- Navigation -->
			</div>
		

		</header>
		<!-- End Header -->