			

			<div class="container">
				<!-- Navigation -->
				<nav id="nav">
					<ul id="navlist" class="sf-menu clearfix">
						<li class="current">
							<%= link_to "首頁", root_path %>
<!-- 							<ul class="sub-menu">
								<li><a href="home-boxed.html"><span>--</span>Home Boxed</a></li>
								<li><a href="home-transparent.html"><span>--</span>Home Transparent</a></li>
								<li><a href="home-leftmenu.html"><span>--</span>Home Left Menu</a></li>
								<li><a href="home-bannerboxed.html"><span>--</span>Home Banner</a></li>
								<li><a href="home-banner.html"><span>--</span>Home Banner Fullwidth</a></li>
							</ul> -->
						</li>
						<li><a href="#">品牌故事</a>
<!-- 							<ul class="sub-menu">
								<li><a href="shop-single.html"><span>--</span>Single Product</a></li>
								<li><a href="shop-list.html"><span>--</span>Products List</a></li>
								<li><a href="shop-grid.html"><span>--</span>Products Grid</a></li>
								<li><a href="cart.html"><span>--</span>Shopping Cart</a></li>
								<li><a href="checkout.html"><span>--</span>Checkout</a></li>
							</ul> -->
						</li>
						<li><a href="#">商品櫥窗</a>
							<ul class="sub-menu">
								<li><a href="#"><span>--</span>絲快染</a></li>
								<li><a href="#"><span>--</span>光摩棒</a></li>
								<li><a href="#"><span>--</span>指膜</a></li>
								<li><a href="#"><span>--</span>髮膜</a></li>
							</ul>
						</li>
						<li><a href="#">部落格</a></li>
						<li><a href="#">最新消息</a></li>
						<li><a href="#">聯絡我們</a></li>

					</ul>
				</nav>
		    	<!-- Navigation -->
			</div>