			<div class="upper-header">
				<div class="container">

					<div class="search-input">
						<form action="#">
							<input type="text" placeholder="Type and Search">
							<input type="submit" value="">
						</form>
					</div>

					<% if logo_img %>
					<div class="logo">
						<%= link_to root_path do %>
							<%= image_tag logo_img.logo_url, alt: "" %>
						<% end %>			
					</div>
					<% end %>

					<%= render 'layouts/cart_text' %>

					<div class="clear"></div>

				</div>
				<!-- End container -->	
			</div>
			<!-- End Upper-header -->	
		