			<div class="upper-header">
				<div class="container">

					<div class="search-input">
						<form action="#">
							<input type="text" placeholder="Type and Search">
							<input type="submit" value="">
						</form>
					</div>

					<div class="logo">
						<%= link_to root_path do %>
							<%= image_tag "/images/logo.png", alt: "" %>
						<% end %>			
					</div>
					
					<div class="cart">

						<div class="card-icon">
							<!-- <img src="/images/hero.png" alt=""> -->
							<!-- <div class="shop-items">10</div> -->
						</div>
<!-- 						<a href="#" class="cartmain"> Cart  /  $ 1 199.00</a>
						<div class="card-icon">
							<img src="/miracode/images/cart.png" alt="">
							<div class="shop-items">10</div>
						</div>
						<div class="hover-cart">

							<div class="hover-box">

								<a href="#"><img src="/miracode/images/hover1.png" alt="" class="left-hover"></a>
								<div class="hover-details">
									<p>Grey California Dress</p>
									<span>$ 3 199.00</span>
									<div class="quantity">Quantity: 1</div>
								</div>
								
								<a href="#" class="right-hover"><img src="/miracode/images/delete.png" alt=""></a>

								<div class="clear"></div>

							</div>

							<div class="hover-box bd0">

								<img src="/miracode/images/hover2.png" alt="" class="left-hover">
								<div class="hover-details">
									<p>Grey California Dress</p>
									<span>$ 3 199.00</span>
									<div class="quantity">Quantity: 1</div>
								</div>

								<a href="#" class="right-hover"><img src="/miracode/images/delete.png" alt=""></a>

								<div class="clear"></div>

							</div>

							<div class="subtotal">
								Cart Subtotal: <span>$ 4 372</span>
							</div>

							<button class="viewcard"> View Cart</button>
							<button class="proceedcard"> Proceed</button>

						</div> -->
					</div>

					<div class="clear"></div>

				</div>
				<!-- End container -->	
			</div>
			<!-- End Upper-header -->	
		