<p>嗨，<%= @resource.email %>!</p>

<p>目前有人要求重新設定您的密碼. 您可以透過點擊以下連結來進行密碼重置.</p>

<p><%= link_to '重置我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您從未要求重設密碼，請忽略此則訊息，您的密碼將不會變更.</p>